.App {
  text-align: center;
  background: #fff;
  padding: 25px;
  width: 500px;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0; 
  font-family: "poopins", sans-serif;
  box-sizing: border-box;
}
body {
  background: palevioletred;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-header{
  display: flex;
  justify-content: center;
}
.todo-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  margin-bottom: 20px; 
}
.todo-body input{ 
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px;
  font-size: 20px;
}

.item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}
.item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: rgb(185, 96, 125);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
.item-todo button {
  background: none;
  padding: 0;
  border: none;
  color: #fff;
  cursor: pointer;
}
.save button {
  background: rgb(185, 96, 125);
  padding: 0;
  border-color: rgb(185, 96, 125);
  color: #fff;
  width: 100px;
  cursor: pointer;
}